# BEGIN Zioma
<IfModule LiteSpeed>
RewriteEngine On
RewriteCond %{HTTP:X-Requested-With} ^XMLHttpRequest$ [NC]
RewriteRule .* - [E=Cache-Control:no-cache]
</IfModule>
<IfModule mod_headers.c>
<FilesMatch "\.(css|js|mjs|woff2?|ttf|otf|eot|svg|ico|png|jpe?g|gif|webp|avif|mp4|webm)$">
Header set Cache-Control "public, max-age=31536000"
</FilesMatch>
</IfModule>
# END Zioma

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
